a {
  text-decoration: none;
  color: black;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.header {
  background-color: #fff;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.3);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
}

.header > a > i {
  font-size: 2em;
  color: #ef9f2a;
}

.search {
  display: flex;
  justify-content: center;
  width: 40%;
}

.search > input {
  width: 70%;
  border-radius: 4px 0 0 4px;
  border: 0.1em solid black;
}

.search > input:hover {
  border: 0.1em solid #ef9f2a;
  transition: 0.3s;
}

.lupa {
  background-color: #e7e7e7;
  border: 0.1em solid black;
  border-radius: 0 4px 4px 0;
  border-left: 0;
  width: 1.6rem;
  text-align: center;
}

.lupa:hover {
  transition: 0.3s;
  background-color: grey;
}

.fa-search {
  margin-top: 0.3rem;
  font-size: 1rem;
}

.micro {
  color: #a3a3a3;
  font-size: 1.7rem;
  margin: 2px 0 0 7px;
}

.micro:hover {
  color: grey;
  transition: 0.3s;
}

.bell {
  color: #a3a3a3;
  font-size: 1.7rem;
}

.bell:hover {
  color: grey;
  transition: 0.3s;
}

.paw {
  display: inline-block;
  background-color: #ef9f2a;
  font-size: 1.7rem;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-left: 20px;
  position: relative;
}

.paw > a > .fa-paw {
  padding-top: 5px;
}

.paw:hover {
  background-color: #a3a3a3;
  transition: 0.3s;
}

.submenu {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: space-between;
  height: 120px;
  position: absolute;
  background-color: white;
  width: 120px;
  z-index: 1;
  right: 0;
  top: 50px;
  font-size: 1.1rem;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.1s;
  transition-delay: 0.3s;
  border: 1px solid grey;
  border-radius: 4px;
}

.submenu > li {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid grey;
  vertical-align: center;
}

.submenu > li > a {
  display: inline-block;
  padding-left: 5px;
  width: 115px;
  height: 100%;
}

.submenu > li > a:hover {
  background-color: #a3a3a3;
}

.submenu i {
  padding-top: 6px;
  padding-left: 4px;
}

.submenu > li:last-child > a {
  color: red;
}

.paw:hover .submenu {
  opacity: 1;
  visibility: visible;
}

.side-panel {
  position: fixed;
  background-color: #e7e7e7;
  width: 300px;
  height: 100%;
}

.avatar {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.name {
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.islive {
  background-color: red;
  width: 8px;
  height: 8px;
  border-radius: 50%;

  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

.side-panel > ul {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: calc(100vh - (180px + 72px));
  border-bottom: 3px solid #fff;
}

.side-panel > ul > li {
  width: 100%;
}

.side-panel > ul > li > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 20px;
}

.side-panel > ul > li > a div {
  display: flex;
  align-items: center;
}

.side-panel > ul > li > a > div > span:last-child {
  margin-left: 10px;
}

.side-panel > ul > li > a:hover {
  background-color: #a3a3a3;
}

.info {
  bottom: 0px;
  left: 0;
  height: 100px;
  z-index: 2;
  background-color: #d8d8d8;
  width: 70%;
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 8px;
}

.icons {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.info > p {
  text-align: center;
  font-size: 1.5rem;
}

.info > p::selection {
  color: white;
  background-color: orange;
}

.icons > a > i {
  font-size: 1.5rem;
}

a > .fa-telegram:hover {
  color: #4c6ef5;
  transition: 0.3s;
}

a > .fa-facebook:hover {
  color: #82c91e;
  transition: 0.3s;
}

a > .fa-instagram:hover {
  color: #fd7e14;
  transition: 0.3s;
}

.main-content {
  position: relative;
  min-height: calc(100vh - 72px);
  margin: 72px 0 0 300px;
  width: calc(100vw - 300px);
}

.category {
  margin: 0;
  padding: 0;
  width: 100%;

  overflow: scroll;
  display: grid;
  justify-items: stretch;
  align-items: center;
  justify-content: start;
  align-content: center;
  grid-auto-flow: column;
}

.category > li {
  margin: 20px 20px 0;
}

.category::-webkit-scrollbar {
  visibility: hidden;
}

.category > li > a {
  padding: 5px;
  display: block;
  height: 15px;
  background-color: #d8d8d8;
  border-radius: 100px;
  border: 0.1rem solid grey;
  white-space: nowrap;
}

.category > li > a:hover {
  background-color: grey;
  transition: 0.3s;
}

.category > li:first-child > a {
  background-color: #ef9f2a;
}

.category > li:first-child > a:hover {
  background-color: #fd7e14;
}

.video {
  position: relative;
  width: 100%;
  height: 168px;
}

.video__islive {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  font-size: 1rem;
  padding: 3px;
  border-radius: 3px;
  z-index: 1;
}

.video__info {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 3px;
  z-index: 0;
}

.video__prev {
  width: 100%;
  height: 100%;
}

.video > a > .fa-paw {
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  vertical-align: center;
  font-size: 0;
  line-height: 168px;
}

.video > a > .fa-paw:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s;
  font-size: 2em;
  z-index: 1;
}

.videos > div {
  width: 300px;
}

.panel__avatar {
  grid-area: avatar;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  height: 30px;
}

.panel__author {
  grid-area: author;
  color: #a3a3a3;
  margin: 0;
  padding: 0;
}
.link__name {
  grid-area: name;
  white-space: nowrap;
  display: block;
  width: 170px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.video__panel {
  width: 100%;
  display: grid;
  grid-template:
    "avatar name dots" auto
    "avatar author dots" auto;
  justify-content: space-around;
  padding: 5px 0;
}

.link__name:hover {
  color: royalblue;
}

.link__dots {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  padding: 3px;
  border-radius: 50%;
  grid-area: dots;
}

.link__dots:hover {
  background-color: #a3a3a3;
}

.videos > div {
  display: block;
}

.videos {
  margin: 30px 0 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-row-gap: 30px;
  justify-content: space-around;
  padding-bottom: 70px;
}

.footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 30px 0;
  font-size: 1.3rem;
}

@media (max-width: 1200px) {
  .side-panel {
    width: 60px;
  }
  .side-panel > ul {
    height: calc(100vh - 72px);
  }
  .info {
    display: none;
  }
  .side-panel > ul > li > a span {
    display: none;
  }

  .main-content {
    margin-left: 60px;
    width: calc(100vw - 60px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
